<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>850604286708-nvlflj4207tb1m0mu2tfvu0dgfm87ual.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.850604286708-nvlflj4207tb1m0mu2tfvu0dgfm87ual</string>
	<key>API_KEY</key>
	<string>AIzaSyDXWDOretmKf50_ijX1fvLkYQM0ya-VIqk</string>
	<key>GCM_SENDER_ID</key>
	<string>850604286708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventsProject</string>
	<key>PROJECT_ID</key>
	<string>bloc-b958f</string>
	<key>STORAGE_BUCKET</key>
	<string>bloc-b958f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:850604286708:ios:ef899e3e719d7dca77f4a1</string>
</dict>
</plist>